@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

.commentList h3 {
  margin-top: 2%;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.commentList .card {
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  width: 75%;
}

.commentList h5 {
  color: #5c5c5c;
  font-size: 15px !important;
  padding-left: 15px !important;
  margin-bottom: 0;
}

.commentList img {
  border-radius: 10px;
  padding-right: 5px;
  width: 60px;
  height: 55px;
}

.commentList .round .align-self-start {
  border-radius: 100%;
  width: 45px;
  height: 40px;
}

.commentList .media .comment {
  background: #f4f4f4;
  border: none;
  border-radius: 10px;
}

.commentList h6.user {
  color: #5c5c5c;
  font-size: 15px !important;
  padding-left: 15px !important;
  margin-bottom: 0;
}

.commentList h6.user:hover {
  cursor: pointer;
  text-decoration: underline;
}

.commentList p.text {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 14px;
}

.commentList .ml-auto {
  margin-right: 10px;
}

.commentList p .reply {
  color: #5c5c5c;
  font-size: 15px;
}

@media screen and (min-width: 576px) {
  .commentList .comment {
    width: 470px !important;
  }
}
