@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --purple: #9227fb;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

section h1 {
  color: var(--purple);
}

.productInfo h1 {
  font-family: "Fredoka One", cursive;
  color: #fe6b48;
}
